.App {
  text-align: center;
  background-color: #42389d;
  min-height: 100vh;
  padding-top: 2em;
  font-size: 20px;
  color: white;
}

/* Landing */
.landing {
  margin-top: 2em;
}

/* Top Menubar */
.top-menubar {
  display: flex;
  justify-content: space-between;
}

.top-menubar .logo {
  margin-left: 1em;
}

.top-menubar .logo img{
  width: 200px;
}

.top-menubar .action a {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  color: white;
}

.top-menubar .action a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Login Page */
.login-page {
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 550px;
  margin: auto;
  margin-top: 4em;
}

.login-page .title {
  font-size: 1.7em;
  font-weight: bold;
}

.login-page .login-form {
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-size: 0.8em;
}

.login-page .error {
  color: red;
  font-size: 0.6em;
  font-weight: normal;
}
/* Join Page */
.join-page {
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 550px;
  margin: auto;
  margin-top: 4em;
}

.join-page .title {
  font-size: 1.7em;
  font-weight: bold;
}

.join-page .join-form {
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-size: 0.8em;
}

.join-page .error {
  color: red;
  font-size: 0.6em;
  font-weight: normal;
}

/* Admin Dashboard */
.adminDash {
  margin-top: -2em;
}