.App {
  text-align: center;
  background-color: #42389d;
  min-height: 100vh;
  font-size: 20px;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Landing */
.landing {
  margin-top: 2em;
}

/* Top Menubar */
.top-menubar {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}

.top-menubar .logo {
  margin-left: 4em;
}

.top-menubar .logo img{
  width: 200px;
}

.top-menubar .action a.login {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 2em;
  margin-right: 1.5em;
  text-decoration: none;
  color: white;
  border: 1px solid #53555a;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.top-menubar .action a.logout {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 2em;
  margin-right: 1.5em;
  text-decoration: none;
  color: white;
  border: 1px solid #7d23fc;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.top-menubar .action a.login:hover {
  background-color: #53555a;
}

.top-menubar .action a.logout:hover {
  background-color: #7d23fc;
}

.user-menu {
  min-height: 3em;
  margin-top: 0;
  background-color: #42389d;
  text-align: left;
  padding: 1em;
}

.user-menu img {
  height: 3em;
  padding: 0.5em 1em 0.5em 0;
}

.user-menu a {
  display: inline-block;
  line-height: 3em;
  vertical-align: top;
  color: white;
  font-weight: bold;
  margin-left: 1.5em;
}

.user-menu a.logout {
  float: right;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 2em;
  margin-right: 1.5em;
  text-decoration: none;
  color: white;
  border: 1px solid #53555a;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.user-menu a.logout:hover {
  background-color: #53555a;
}

/* Login Page */
.login-page {
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 550px;
  margin: auto;
  margin-top: 4em;
  animation: lgform 1s;
}

.login-page .title {
  font-size: 1.7em;
  font-weight: bold;
}

.login-page .login-form {
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-size: 0.8em;
}

@keyframes lgform {
  0% {
    opacity: 0;
    margin-top: 6em;
  }
  100% {
    opacity: 1;
    margin-top: 4em;
  }
}

.login-page .error {
  color: red;
  font-size: 0.6em;
  font-weight: normal;
}
/* Join Page */
.join-page {
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 550px;
  margin: auto;
  margin-top: 4em;
  animation: lgform 1s;
}

.join-page .title {
  font-size: 1.7em;
  font-weight: bold;
}

.join-page .join-form {
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-size: 0.8em;
}

.join-page .error {
  color: red;
  font-size: 0.6em;
  font-weight: normal;
}

/* Admin Dashboard */


/* User Pdf Uploads */
.pdf-list {
  max-width: 600px;
  margin: auto;
}

.pdf-list .pdf-item {
  padding: 5px 10px;
  background-color: #e2e2e2;
  border-radius: 15px;
  cursor: pointer;
}

.pdf-list .pdf-item:hover {
  background-color: #ececec;
  font-size: 1.01em;
}


/* Loading */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
